@model dynamic

@{
    ViewBag.Title = "Formulario";
    Layout = "_Layout";
}

<h2>Insert your data here</h2>

<a
    asp-controller="Form"
    asp-action="DownloadPdf"
    class="btn btn-primary">
    Descargar PDF
</a>